#container{
	margin:20px;
	padding:10px;
	text-align:center;
	position:relative;
	background-color:#f5f5f5;
	font-size:20px;
	
}

#container:before{
	 content: "Before Element"; 
	color:#f00;
	font-size:20px;
	position:absolute;
	top:10px;
	left:10px;
	
}
#container:after{
	 content: "After Element"; 
	color:#f00;
	font-size:20px;
	position:absolute;
	top:10px;
	right:25px;
	
}


